/* Base */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3333333333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary-light: #ffffff;
  --color-primary-midle: #2b7fff;
  --color-primary-dark: #011c44;
  --color-secondary-dark-grey: #4a4a4a;
  --color-secondary-light-grey: #747272;
  --color-secondary-blue: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

.logo {
  text-decoration: none;
  color: var(--color-primary-midle);
  font-family: Play;
  font-size: 22px;
  font-weight: 700;
  line-height: 21px;
  text-transform: capitalize;
}

.container {
  width: 100%;
  max-width: 1440px;
  /* padding: 0 24px; */
}

.section-title {
  text-align: center;
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 40px;
}

.section-title .accent {
  color: var(--color-primary-midle);
}

.section-title .accent_capitalize {
  text-transform: capitalize;
  color: var(--color-primary-midle);
}

/* header */
.header__container {
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 190px;
  flex-grow: 1;
  justify-content: center;
}
.header__buttons {
  display: flex;
  gap: 32px;
}
.header__buttons-button {
  border: none;
  background-color: transparent;
  fill: var(--color-primary-dark);
}
.header__buttons-button:hover {
  fill: var(--color-primary-midle);
}
.header__navigation {
  display: flex;
  gap: 56px;
}
.header__navigation-link {
  text-decoration: none;
  color: var(--color-secondary-blue);
}
.header__navigation-link:hover {
  color: var(--color-primary-midle);
  font-weight: 700;
}

/* Hero section */
.hero-section {
  display: flex;
  background-image: linear-gradient(89deg, #fff 30.62%, rgba(255, 255, 255, 0.85) 41.31%, rgba(255, 255, 255, 0.19) 58.65%, rgba(255, 255, 255, 0) 72.78%), url(../images/hero-background-cropped.png), url(/images/Vector.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin-left: 244px;
}
.hero-section__company {
  padding-top: 123px;
}
.hero-section__title {
  color: var(--color-primary-midle);
  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  line-height: 114px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.hero-section__button {
  font-family: Roboto;
  color: var(--color-primary-light);
  padding: 16px 32px;
  border-radius: 32px;
  font-size: 18px;
  border: none;
  background: var(--color-primary-midle);
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 14px;
}
.hero-section__description {
  color: var(--color-secondary-dark-grey);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 126px;
  text-align: center;
  width: 238px;
}

/* People chose */
.people-choise-section__list {
  display: flex;
  gap: 56px;
  padding-bottom: 96px;
  margin-left: 190px;
  margin-right: 190px;
}
.people-choise-section__description {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  border-radius: 32px;
  background: #fff;
  padding: 24px 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}
.people-choise-section__title {
  padding-top: 176px;
}
.people-choise-section__icon {
  fill: var(--color-primary-midle);
}
.people-choise-section__background {
  position: absolute;
  z-index: -1;
}

.procedure-section__slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.procedure-section__container {
  display: flex;
}
.procedure-section__list {
  display: flex;
  position: relative;
  gap: 16px;
}
.procedure-section__text {
  display: flex;
  position: relative;
  width: 344px;
  height: 456px;
  color: #fff;
  border-radius: 4px 120px;
  background: linear-gradient(180deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.73) 84.61%, #011c44 101.39%);
  align-items: flex-end;
  justify-content: center;
}
.procedure-section__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  fill: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  border-radius: 50%;
}
.procedure-section__image {
  position: absolute;
  border-radius: 4px 120px;
  z-index: -2;
}

.footer {
  position: relative;
  background-image: url(../images/background_footer.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer::after {
  background-image: url(../images/footer_photo.png);
  position: absolute;
  width: 249px;
  height: 152px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  content: "";
}
.footer__container {
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer__link {
  color: var(--color-primary-light);
  font-size: 16px;
  line-height: 2;
}
.footer__link:hover {
  color: var(--color-primary-midle);
  font-weight: 700;
}
.footer__contacts {
  display: flex;
  flex-direction: row;
  gap: 176px;
  justify-content: center;
}
.footer__socials {
  display: flex;
  flex-direction: row;
  gap: 24px;
  fill: var(--color-primary-light);
}
.footer__socials :hover {
  fill: var(--color-primary-midle);
}
.footer__background {
  position: absolute;
}
.footer__copyright {
  color: var(--color-secondary-light-grey);
  font-size: 13px;
}

/* Reincarnation */
.reincarnation_layout {
  display: flex;
  gap: 28px;
  position: relative;
}

.reincarnation {
  text-align: left;
}

.reincarnation-text {
  max-width: 650px;
  /* display: inline-flex;
  flex-direction: column;
  gap: 40px; */
}

.reincarnation-picrutes {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  gap: 40px;
}

.picture:last-child {
  align-self: end;
}

.picture {
  position: relative;
  max-width: 349px;
  height: 328px;
  border-radius: 50%;
}

.reincarnation-servises {
  color: var(--color-secondary-blue);
  font-size: 22px;
  font-weight: 400;
  line-height: 1, 71;
  margin-bottom: 40px;
}

.little_accent {
  font-weight: 600;
  text-transform: capitalize;
}

/* Contacts */
.contacts-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}

.contacts-title .accent {
  color: var(--color-primary-midle);
}

/* Footer *//*# sourceMappingURL=main.css.map */